/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* ------------------------------------ */
/* margins */
.margin-0-auto {
    margin: 0 auto;
}

.margin-top-1 {
    margin-top: 1rem;
}

.margin-bot-1_5 {
    margin-bottom: 1.5rem;
}

.margin-right-1 {
    margin-right: 1rem;
}

/* fonts */
.text-5xl {
    font-size: 56px;
    line-height: 1;
}

.text-sm {
    font-size: 14px;
    line-height: 1.5rem;
}

.text-base {
    font-size: 16px;
    line-height: 1.5rem;
}

.text-lg {
    font-size: 18px;
    line-height: 1.5rem;
}

/* colors */
.gray-light {
    color: #767676;
}

/* display */
.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-around {
    justify-content: space-around;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.border {
    border: 1px solid #000;
}

.rounded-full {
    border-radius: 9999px;
}

.rounded-sm {
    border-radius: 0.25rem;
}

.rounded-lg {
    border-radius: 0.8rem;
}

.rounded-xl {
    border-radius: 1rem;
}

/* width */

.w-1_2 {
    width: 50%;
}

.w-4_5 {
    width: 80%;
}

.w-500 {
    width: 500px;
}

/* ------------------------------------ */

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/**/
body {
    overflow-x: hidden;
    height: 100vh;

    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.main-content {
    display: flex;
    margin: 0 auto;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 12rem;
    /* align-content: center; */
}

.github-button {
    padding: 0.8rem 2.5rem;
    border: 2px solid #000;
    border-radius: 99px;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #000;
    text-decoration: none;
    transition: background 0.4s, color 0.4s;
}

.github-button:hover {
    background-color: #000;
    color: #fff;

    .github-icon {
        filter: invert(100%) sepia(95%) saturate(128%) hue-rotate(301deg) brightness(117%) contrast(100%);
    }
}

.documentation-button {
    display: flex;
    gap: 1rem;
    padding: 0.8rem 1.7rem;
    border: 2px solid #43d1da;
    border-radius: 99px;
    background-color: #43d1da;
    color: #1e1919;
    text-decoration: none;
    transition: background 0.4s, color 0.4s;
}

.documentation-button:hover {
    background-color: #fff;
    color: #43d1da;

    .documentation-icon {
        filter: invert(84%) sepia(97%) saturate(1420%) hue-rotate(140deg) brightness(88%) contrast(91%);
    }
}

.github-icon,
.documentation-icon {
    transition: filter 0.4s;
}

.shadows-gift {
    box-shadow: -70px 80px 4px #f9f9f9;
}


.theme-doc-breadcrumbs {
    display: None;
}